/* Helpers  */

.hidden{ 
    display: none!important;
}

/* Template  */
.row {
    align-items: center;
}

.dt-buttons.btn-group{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-bottom: 10px;
}


.dataTables_length{
    display: flex;
    align-items: center;
}


.dataTables_length label{
        display: flex;
        align-items: center;
        font-weight: unset !important;
}

.selecter{
    height: 1.875rem;
    line-height: 1.875rem;
    border-color: #C8C7CC;
    text-align-last: center;
}

#datatables-makemodel_filter{
    text-align: right;
}

#datatables-makemodel_filter label{
    width: 20%;
    align-items: center;
    display: inline-flex;
    gap: 20px;
}

#content {
    padding-top: 10vh !important;
}

.redClass{
    color: red;
}